Chapters/Introduction/
Figures/figure 1.1.jpg
Figures/Figure A.1.png

Chapters/ch1.tex
Chapters/ch2.tex
Chapters/ch3.tex
Chapters/ch4.tex
Chapters/ch5.tex
Chapters/ch6.tex
Chapters/ch5_coordinated.tex
Chapters/ch6_results.tex
Chapters/Chapters_3_4_5_6.pdf

ref.bib
comments.tex