Reviews/
Figures/figure 1.1.jpg
Figures/Figure A.1.png

Figures/Histograms/Am_coordinated.png
Figures/Histograms/Bfield_coordinated.png
Figures/Histograms/alpha_coordinated.png
Figures/Histograms/beta_coordinated.png
Figures/Histograms/cdf_Am.png
Figures/Histograms/cdf_Asplit.png
Figures/Histograms/cdf_Bfield.png
Figures/Histograms/cdf_alpha.png
Figures/Histograms/cdf_beta.png
Figures/Histograms/cdf_duration.png
Figures/Histograms/cdf_flux.png
Figures/Histograms/cdf_helicitydensity.png
Figures/Histograms/cdf_orientation.png
Figures/Histograms/cdf_temp.png
Figures/Histograms/cdf_velocity.png
Figures/Histograms/helicitydensity_coordinated.png
Figures/Histograms/histogram_Am.png
Figures/Histograms/histogram_VHT_orientation.png
Figures/Histograms/histogram_flux.png
Figures/Histograms/histogram_logspace_Am.png
Figures/Histograms/histogram_logspace_Asplit.png
Figures/Histograms/histogram_logspace_Bfield.png
Figures/Histograms/histogram_logspace_VHT_orientation.png
Figures/Histograms/histogram_logspace_alpha.png
Figures/Histograms/histogram_logspace_flux.png
Figures/Histograms/histogram_logspace_helicitydensity.png
Figures/Histograms/histogram_logspace_scalesize.png
Figures/Histograms/histogram_logspace_temperature.png
Figures/Histograms/histogram_logspace_velocity.png
Figures/Histograms/histogram_orientation_coordinated.png
Figures/Histograms/orientation_coordinated.png
Figures/Histograms/temperature_coordinated.png
Figures/Histograms/velocity_coordinated.png

Chapters/Introduction/
Chapters/ch1.tex
Chapters/ch2.tex
Chapters/ch3.tex
Chapters/ch4.tex
Chapters/ch5.tex
Chapters/ch6.tex
Chapters/ch5_coordinated.tex
Chapters/ch6_results.tex
Chapters/Chapters_3_4_5_6.pdf

ref.bib
comments.tex